body {
    background-color: #9E9E9E;
}

div.map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
}

div.map img {
    height: inherit;
}

div.side-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
}

div.side-bar-controls {
    padding-right: 25px;
    padding-top: 150px;
}

div.slider-buttons {
}
